<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../resources/css/all.css">
<link rel="stylesheet" href="../resources/css/reset.css">
<link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
	
	<div class="center">
		<div class="clock">
			<div class="myNote">Welcome 2021</div>
			<div class="clock-text"></div>
		</div>
		
		<div class="name">
		
		</div>
		
		<div>
			<form class="frm_to-do">
				<input class="to-do_add" placeholder="Write a To Do here" type="text">
				<ul class="list">
				
				
				</ul>			
			</form>
		</div>
	</div>
	
	<div class="location">
		<span class="location-text">
		</span>
	</div>
	
	<div class="weather">
		<span class="weather-text">
		</span>
	</div>
	
	<script type="text/javascript" src="../resources/js/user.js"></script>
	<script type="text/javascript" src="../resources/js/clock.js"></script>
	<script type="text/javascript" src="../resources/js/todo.js"></script>
	<script type="text/javascript" src="../resources/js/weather.js"></script>
	<script type="text/javascript" src="../resources/js/bg.js"></script>
</body>
</html>